# Changelog

## v2.0
- full support of lepra v2.0
- fix user highlights
- fix comments page and filter feature
- fix democracy page
- added user registraton number as a title

## v1.6.4.7
- fix new page layout

## v1.6.4.6
- support posts without comments
- fix null pointer exception in smart images mode

## v1.6.4.5
- support anonymous posts

## v1.6.4.4
- bugfix: add support for 1 & 2 columns
- enable smart images by default for new users

## v1.6.4.3
- bugfix: Post scrolling is too slow (if sticky comments filter was enabled)

## v1.6.4.2
- bugfix: http://*.leprosorium.ru/users/*/comments/* picture width is too wide!

## v1.6.4.1
- code cleanup

## v1.6.4
- bugfix: wrong stats for date filter
- optimization: collapsed/expanded comments optimization
- optimization: code cleanup (remove unused code/remove unused css styles)

## v1.6.3
- feature: added expand/close icon for comment filter panel
- feature: added date filter for comment filter panel
- bugfix: fix huge picture option
- support: fix filter issue with lepra+ extension

## v1.6.2
- bugfix: fix typos in the comment filter (thanks to that)

## v1.6.1
- bugfix: goverment never updated from the page

## v1.6
- feature: comments filters
- feature: show goverment icons on the goverment page
- bugfix: post close menu partly hidden

## v1.5.7.2
- bugfix: fix pinterest mode for main/sub pages

## v1.5.7.1
- feature: infinity scroll
- feature: save state of pinterest switch for each sublepra/main pages
- bugfix: highlight wrong user if there is other user in the post's body
- bugfix: wrong video removed if there was more than 1 video in the post
- bugfix: sublepras were broken

## v1.5.6
- feature: configurable number of columns
- bugfix: cursor size in reply case
- bugfix: fix Anarchy mode (don't show anarchy mode for sublepras)

## v1.5.5
- bugfix: fix GA tracker code

## v1.5.4
- feature: support media player integration (youtube/vimeo/coub)
- feature: support goverment (different icons for people from the democracy page)
- feature: support anarchy mode
- feature: highlight author's comments in the post
- feature: gallery mode
- feature: correct width of huge images
- bugfix: disable jump to user profile during comment's writing (if you type 'u' in textarea)
- upgrade: jQuery from v1.8.3 to v2.0.3
- experiment: comments mini navigation

## v1.5.3
- feature: click over [-] in the comments navigation panel show/hide only comments of 1st level, ctrl+click show/hide all comments
- feature: store comments' state between lepra sessions
- feature: additional hotkeys
- bugfix: if <open by click> feature is enabled then you cannot click over post's counter
- bugfix: pinterest mode works for sublepras
- bugfix: comments show/hide if there are new comments
- bugfix: disable sex detection for username in the post

## v1.5.2
- bugfix: typo errors, proof-reading, thanks to hitch
- feature: auto save option without the <save> button
- ui: reduced size of [-]'s button in the comment toolbar
- feature: enable male/female mode by default for new users

## v1.5.1
- bugfix: include male/female icons and color picker script into the extension.

## v1.5
- added: male/female mode

## v1.4.9
- bugfix: support anchor clicks for wrapped elements

## v1.4.8
- bugfix: if user clicks anchor element in the postcard then don't open post, just process clicked link.

## v1.4.7
- added: open post by any click over post-card
- added: keyboard navigation for pinterest mode

## v1.4.6
- ui added: pinterest mode, separate option for main page, my things, my favorites, user's posts, user's favorites posts
- added: smart images option for pinterest mode. Now it is possible to disable this mode. It is turned off by default for new users.
- bugfix: restore links on the post: add to favs, remove from favs, my things link on my things, my favs pages

## v1.4.5
- added: smart pictures resize (ignore to resize duplicated picture, don't resize small single picture)

## v1.4.4
- bugfix: empty post's count
- added: pinterest mode for: my things, my favorites, user's posts, user's favorites posts
- added: use gray background color for posts with negative karma
- ui: fix padding for post's count without minus/plus buttons
- optimization: removed css transition for hovered post

## v1.4.3
- bugfix: disable pinterest mode for 'my things'
- bugfix: disable overflow plus/minus buttons with other text. works for 2/3/4 columns now
- ui: added options page
- ui: relocated pinterest button from the main navigation to the left column

## v1.4.2
- disable <pinterest mode> for sub pages.
- fix manifest problem

## v1.4.1
- disable pinterest mode for user's page

## v1.4
- added a new <pinterest mode>, use `p` key on the main page or sub pages.

## v1.3
- added a <picture mode>, use `p` key
- added hotkey for <toggle all comments>, use `*` key

## v1.2
- added a <toggle all comments> button
- fixed css style for a <toggle comment> button

## v1.1
- initial release
